:root {
  --gray-lightest: #fff;
  --gray-lighter: #eee;
  --gray-light: #ccc;
  --gray: #888;
  --gray-dark: #666;
  --gray-darker: #333;
  --gray-darkest: #080808;

  --orange-light: #fff3e9;
  --orange: #ffebbb;
  --yellow: #fdffcd;

  --green-light: #f2ffea;
  --green: #e0ffcd;
  --green-dark: #d4efaa;

  --blue-lightest: #f3f8ff;
  --blue-light: #a7e3ff;
  --blue: #7cd2fa;
  --blue-dark: #5db6e0;

  --red-light: #ffbfbc;
  --red: #ff6961;
  --red-dark: #e44138;

  --radius-sm: 3px;
  --radius-md: 5px;
  --radius-lg: 9px;

  --font-xs: 11px;
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;

  --form-height-md: 50px;
  --form-padding-md: 15px;
}

html,
body,
#root,
div[tabindex][role="group"] {
  height: 100%;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
